.Card4x {
  width: 100%;
  height: 100%;
  background: white;
  padding: 1rem;
  position: relative;
  padding-bottom: 2rem;
}
.Card_Body {
  margin: 1rem 0;
}
.Card_Footer {
  position: absolute;
  bottom: 15px;
}
.Card_Footer_Link {
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}
.Card_Footer_Link:hover {
  color: red;
  text-decoration: underline;
}
.Quadrate_item_Container {
  justify-content: space-between;
  gap: 5px;
}
.Quadrate_item {
  margin: 1rem 0;
  width: 49%;
}
.QI_Image_Container {
  width: 100%;
  height: 85px;
}
.QI_Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.QI_Label {
  font-size: 12px;
  margin-top: 1rem;
}
.Card_Header_headline {
  font-size: 21px;
  line-height: 27.3px;
  color: black;
}
.QI_Link {
  width: 50%;
}
@media (max-width: 768px) {
  .Card_Header_headline {
    font-size: 14px;
  }
}
